@import "tailwindcss";


h1{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-decoration: underline;
    

}